* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  min-width: 0; /* No minimum width */
}

body {
  font-family: Arial, sans-serif; 
  color: #333; 
  padding: 20px;
}

.container {
  width: 100%;
  text-align: center; 
}

.table {
  display: inline-table; 
  margin: 0 auto;
  border-collapse: collapse;
  min-width: 0; /
}

input {
  border: 1px solid black;
  width: 215px;  
  font-size: 50px;
  text-align: center;
  padding: 0%;
}

.table input {
  margin: 0;
  padding: 0;
}

.statusMsg {
  box-sizing: border-box;
}

.selectable {
  background-color: lightcyan;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
}





@media (max-width: 767px) {
  input {
      width: 120px;
      font-size: 20px;
  }

  .statusMsg {
  }

  .table {
      width: 100%;
      margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  input {
      width: 150px;
      font-size: 30px;
  }

  .statusMsg {
  }
}

@media (min-width: 1025px) and (max-width: 1600px) {
  input {
      width: 180px;
      font-size: 40px;
  }

  .statusMsg {
  }

  .table {
      width: 90%;
      margin: 0 auto;
  }
}

@media (min-width: 1601px) {
  input {
      width: 250px;
      font-size: 60px;
  }

  .statusMsg {
  }
}
